body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    width: 600px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 1px 1px 1px 1px;
}

#currentRoom {
    width: 600px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0px 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.usernameText {
    font-weight: bold
}

#chatterbox {
    text-align: center;
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

#backArrow {
    display: none;
    position: relative;
    top: -44px;
    cursor: pointer;
}

#enter-button {
    display: none;
}

#usernameBox {
    display: none
}

#textBox {
    display: none
}

#parent {
    display: flex;
}

input {
    flex: 1;
}

#selectRoom {
    position: relative;
    top: 10px
}

#createRoom {
    position: relative;
    top: 5px
}

#usernameBox, #chatBox {
    position: relative;
    top: -10px
}

#roomName {
    text-align: center;
    position: relative;
    top: -20px
}

#currentRoom {
    display: none
}

#text {
    height: 50px
}

.coolBounce {
    font-style: normal;
    cursor: pointer
}

.mainCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}